.footer_text {
    font-family: 'Gemunu Libre', sans-serif;
    font-size: 30px;
    color: white;
    float: left;
    list-style-type: none;
    text-decoration: none;
    margin: 0;
    padding: 0
}

img { 
    width: 30px;
    height: 30px;

}

footer {
    display: flex;
    justify-content: center;
    gap: 20px;
    border: 1px solid #272727;
    margin-top: 10px;
}